<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          https://maven.apache.org/xsd/settings-1.0.0.xsd">
	<!--<localRepository>CPM\.m2\repository</localRepository> -->
	<interactiveMode />
	<usePluginRegistry />
	<offline />
	<pluginGroups />
	<servers />
	<mirrors>
		<mirror>
			<id>central-proxy</id>
			<name>Local proxy of central repo</name>
			<url>http://rbcnexus.fg.rbc.com:8081/nexus/content/repositories/apache-maven2-proxy/
			</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
	</mirrors>
	<proxies>
		<proxy>
			<active>true</active>
			<protocol>http</protocol>
			<host>oproxy.fg.rbc.com</host>
			<port>8080</port>
			<username></username>
			<password></password>
			<nonProxyHosts>localhost|127.0.0.1</nonProxyHosts>
		</proxy>
	</proxies>
	<profiles />
	<activeProfiles />
</settings>


